:root{
   --bg-white:#FFFFFF;
   --bg-dark:#121314;
   --bg-darkhover:#0f0f0f;
    --bg-red:#ff2e2e;
--bg-primary:rgb(0, 0, 151);


    --color-white:#FFFFFF;
    --color-dark:#121314;
    --color-darkhover:#191A1B;
     --color-red:  #ff2e2e;
}


